{% extends "base.html" %}

{% block extrahead %}
<link href="/css/select2/select2.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/tabulator/tabulator_materialize.min.css">
  <link rel="stylesheet" href="/css/common.css">
  <script src="/javascripts/common.js"></script>
  <script src="/js/tabulator/tabulator.min.js" defer></script>
  <script src="/js/jquery/jquery.min.js"></script>
  <script src="/js/select2/select2.min.js"></script>
{% endblock %}

{% block content %}
  <span>Job: </span><select class="jobselect form-control" id="jobs"></select>&nbsp;<span>Config: </span><select class="configselect form-control" id="configs"></select><br /><br />
  <button type="button" id="addtarget" class="md-button  md-button--primary">
    Add Target
  </button>
  <button type="button" id="savechanges" class="md-button  md-button--primary">
    Save Changes
  </button>
  <div id="example-table"></div>
{% endblock %}